openapi: 3.0.0
info:
  title: V2 API
  version: '2.0'
  description: ''
  contact:
    email: anymarketdev@db1.com.br
    name: AnyMarket Developers
    url: 'http://developers.anymarket.com.br/'
  x-logo:
    url: 'https://anymarket.com.br/wp-content/uploads/2018/07/icon-anymarket-300x300.png'
  x-preferred: true
  x-providerName: V2 API   
servers:
  - url: 'http://sandbox-api.anymarket.com.br/v2'
paths:
  /brands:
    get:
      summary: Consultar todas las marcas
      operationId: get-brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_Brand'
              examples:
                example-1:
                  $ref: '#/components/examples/brands_200'
          headers: {}
      description: Consultar todas las marcas
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/sort'
      tags:
        - Marcas
    post:
      summary: Crea una marca con los datos ingresados
      operationId: post-brands
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: Crea una marca con los datos ingresados
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandAdd'
        description: ''
      tags:
        - Marcas
  '/brands/{id}':
    get:
      summary: Consulta de marca
      operationId: get-brands-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
              examples:
                example-1:
                  $ref: '#/components/examples/brands_200'
          headers: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: Consulta de marca
      parameters: []
      tags:
        - Marcas
    parameters:
      - schema:
          type: integer
          format: int64
          minimum: 1
          exclusiveMaximum: true
        name: id
        in: path
        required: true
        description: Identificación de marca generada por ANYMARKET
    delete:
      summary: Exclui uma marca
      operationId: delete-brands-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
      description: Elimina una marca
      tags:
        - Marcas
    put:
      summary: Actualiza los datos de una marca
      operationId: put-brands-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Brand'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/422'
      description: Actualiza los datos de una marca
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandAdd'
      tags:
        - Marcas
components:
  schemas:
    '404':
      description: ''
      type: object
      x-examples:
        example-1:
          code: '422'
          message: O nome reduzido deve ter no máximo 30 caracteres.
      properties:
        code:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
      examples:
        - code: '404'
          message: Recurso com o id 'xxx' não encontrado.
      x-tags:
        - erro
      title: 422 - Error
    '422':
      description: ''
      type: object
      x-examples:
        example-1:
          code: '422'
          message: O nome reduzido deve ter no máximo 30 caracteres.
      properties:
        code:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
      examples:
        - code: '422'
          message: O campo informado esta fora das especificações.
      x-tags:
        - erro
      title: 422 - Error
    Brand:
      title: Brand
      allOf:
        - properties:
            id:
              type: integer
              format: int64
              minimum: 0
              description: Identificación interna
            name:
              type: string
              description: Nombre de la marca
              minLength: 1
              maxLength: 255
            reducedName:
              type: string
              description: Nombre de marca abreviado
              minLength: 0
              maxLength: 30
            partinerId:
              type: string
              minLength: 0
              maxLength: 255
              description: ID de marca en socio
      examples:
        - id: 123456
          name: Brastemp
          reducedName: brastemp
          partinerId: marca-001-brastemp
      description: Model return brand
      x-tags:
        - Marcas
      type: object
    BrandAdd:
      title: BrandAdd
      allOf:
        - properties:
            name:
              type: string
              description: Nombre de la marca
              minLength: 1
              maxLength: 255
            reducedName:
              type: string
              description: Nombre de marca abreviado
              minLength: 0
              maxLength: 30
            partinerId:
              type: string
              minLength: 0
              maxLength: 255
              description: ID de marca en socio
          required:
            - name
      description: Model brand add
      x-tags:
        - Marcas
      type: object
    Page_Brand:
      title: Page_Brand
      allOf:
        - properties:
            links:
              type: array
              description: Referencias de paginación
              uniqueItems: false
              minItems: 1
              maxItems: 1
              items:
                $ref: '#/components/schemas/PageLinks'
            content:
              type: array
              description: Lista de marcas
              items:
                $ref: '#/components/schemas/Brand'
            page:
              $ref: '#/components/schemas/PageMetadata'
      x-tags:
        - Marcas
      description: ''
      type: object
    PageLinks:
      title: PageLinks
      type: object
      x-tags:
        - page
        - pageable
      properties:
        rel:
          type: string
          description: Relación de hipervínculo
          example: next
        href:
          type: string
          description: URL de definición de recurso
          example: 'https://.../v2/component?limit=5&offset=5'
          format: uri
    PageMetadata:
      title: PageMetadata
      type: object
      x-tags:
        - page
        - pageable
      properties:
        size:
          type: integer
          description: Tamaño de página
          format: int64
          minimum: 5
          readOnly: true
        totalElements:
          type: integer
          description: Total de elementos existentes
          format: int64
          minimum: 0
          readOnly: true
        totalPages:
          type: integer
          description: Total de páginas disponibles
          format: int64
          minimum: 1
          readOnly: true
        number:
          type: integer
          description: Número de página actual
          format: int64
          minimum: 1
          readOnly: true
        '':
          type: string
  securitySchemes:
    gumgaToken:
      name: gumgaToken
      type: apiKey
      in: header
      description: Token de segurança fornecido pela Anymarket
  parameters:
    offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
        format: int64
        default: 1
        minimum: 1
        exclusiveMaximum: true
        example: 1
      description: Posición de inicio de paginación
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        format: int64
        minimum: 5
        exclusiveMaximum: true
        default: 5
        example: 5
      description: Número máximo de marcas
    sort:
      name: sort
      in: query
      required: false
      schema:
        type: string
      description: Atributo para ordenar
  examples:
    brands_200:
      value:
        links:
          - rel: string
            href: string
        content:
          - rel: string
            href: string
        page:
          size: 0
          totalElements: 0
          totalPages: 0
          number: 0
security:
  - gumgaToken: []
